*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;  
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 53px;
}

.title {
    color: #F9BF3B;
    font-size: 41px;
    font-weight: 900;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 20.5px 0;
}

.promo .promo_text {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: 22.5px 0 72px 0;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-weight: 700;
}

.promo .promo_btn , .bonus .bonus_btn {
    display: block;
    margin: 0 auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient( to top, #2798B9 0%, #3AB6DA 100%);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    width: 29.99px;
    height: 18.99px;
    margin-top: 5px;
}

.waiting {
    min-height: 607px;
    background: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header , .finish .finish_header{
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider , .finish .finish_divider {
    margin: 18px auto;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}

.waiting .waiting_subheader {
    color: #4A4A4A;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 370px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item img {
    width: 342px;
}

.waiting .waiting_wrapper .waiting_item div {
    color: #4A4A4A;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 30px;
}

.optimization {
    min-height: 550px;
    padding: 110px 0 75px 0;
}

.optimization .optimization_header {
    margin-left: 390px;
    color: #299CBD;
    font-size: 27px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.optimization .optimization_text {
    margin-left: 390px;
    color: #4A4A4A;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    align-items: center;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 450px;
    padding: 85px 0 70px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_header{
    color: #EFEFEF;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 235px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #B4E2FF;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    margin-bottom: 24.5px;
}

.finish .finish_wrapper .finish_item .finish_round .finish_icon {
    width: 65px;
    height: 64px;
}

.finish .finish_wrapper .finish_item .finish_text {
    color: #EFEFEF;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.bonus {
    padding: 88px;
    background: #EFEFEF;
    min-height: 630px;
}

.bonus img {
    display: block;
    margin: 0 auto;
}

.bonus .bonus_descr {
    color: #252525;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    margin: 45px 0 50px 0;
}

.webinar {
    padding: 90px 0 50px 0;
    background: #FFFFFF;
    min-height: 500px;
}

.webinar img {
    display: block;
    margin: 0 auto;
    width: 342px;
    height: 201px;
    margin-bottom: 35px;
}

.webinar .webinar_header_1 {
    color: #252525;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.webinar .webinar_header_2 {
    color: #299CBD;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 25px 0;
}

.webinar .webinar_text {
    color: #4A4A4A;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

footer {
    min-height: 167px;
    background: rgba(0, 0, 0, 0.916);
    padding: 60px 0;
}

footer .footer_wrapper {
    display: flex;
    justify-content: center;
}

footer .footer_wrapper .footer_links , .footer_contacts {
    color: #888888;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
}

